<div class="container">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col">
      <button onclick=Kick()>Kick</button>
    </div>
  </div>
</div>

<script>
  const Kick = () => {
    console.log("click")
    fetch("http://localhost:8080/cmd/kick", {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ target: "Random777" })
    });
  }
</script>
