<div class="container">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col">
      <form action="/commands" method="post">
        <label for="cmd">Command to send</label><br>
        <input type="text" id="cmd" name="cmd" value="say"><br>
        <label for="value">Params:</label><br>
        <input type="text" id="value" name="value" value=""><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col">
      <form action="/commands" method="post">
        <label for="cmd">Command to send</label><br>
        <input type="text" id="cmd" name="cmd" value="time"><br>
        <label for="value">Params:</label><br>
        <input type="text" id="value" name="value" value=""><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col">
      <form action="/commands" method="post">
        <label for="cmd">Command to send</label><br>
        <input type="text" id="cmd" name="cmd" value="kick"><br>
        <label for="value">Params:</label><br>
        <input type="text" id="value" name="value" value=""><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>