<div class="container">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate unde harum numquam distinctio natus sed. Minus illo, nam ullam voluptate, neque quibusdam optio, corporis error quaerat doloremque reprehenderit. Sed quia necessitatibus eius modi neque, quos alias, dolore corrupti officiis nulla et, optio veritatis. Fuga deleniti asperiores voluptatum alias incidunt inventore!</p>
    </div>
  </div>
</div>
