<div class="container-fluid">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row mt-3">
    <div class="col-sm-2">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">Players</div>
        <div class="card-body">
          <h5 class="card-title">Currently Connected Players</h5>
          <h3 class="card-text">
            0/20
          </h3>
          <a href="/players" class="btn btn-primary mt-3">View Players</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#2</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="/players" class="btn btn-primary">View Players</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#3</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <!--Second Row-->
  <div class="row mt-3">
    <div class="col-sm-2">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#1</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#2</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <!--Third Row-->
  <div class="row mt-3">
    <div class="col-sm-2">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#1</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#2</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>