{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoRcon - {{index .ActivePage}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <!--CustomCSS-->
    <link href="/static/css/base_layout.css" rel="stylesheet">
    {{block "css" .}}{{end}}
</head>

<body class="bg-dark bg-opacity-75">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">GoRcon</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Site</span>
                        <a class="link-secondary" href="#">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Home"}}active{{else}}text-light{{end}}"
                                aria-current="page" href="/">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Dashboard"}}active{{else}}text-light{{end}}" href="/dashboard">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "About"}}active{{else}}text-light{{end}}"
                                href="/about">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                About
                            </a>
                        </li>
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>RCON</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Commands"}}active{{else}}text-light{{end}}"
                                href="/commands">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Commands
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Players"}}active{{else}}text-light{{end}}"
                                href="/players">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Players
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Admin"}}active{{else}}text-light{{end}}"
                                href="/admin">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Admin
                            </a>
                        </li>
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Account</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6> 
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link {{if eq (index .ActivePage) "Login"}}active{{else}}text-light{{end}}"
                                href="/login">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Sign-In
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {{block "content" .}}
                {{end}}
            </main>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous"></script>
                <script src="https://unpkg.com/notie"></script>
            {{block "js" .}}{{end}}
            {{with .Error}}<script>notie.alert({ type: 3, text: '{{.}}', position: 'bottom', stay: true})</script>{{end}}
            {{with .Warning}}<script>notie.alert({ type: 2, text: '{{.}}', position: 'bottom', stay: true})</script>{{end}}
            {{with .Flash}}<script>notie.alert({ type: 1, text: '{{.}}', position: 'bottom', stay: true})</script>{{end}}
            
</body>

</html>
{{end}}