{{template "base" .}}
{{define "content"}}
<h1>Commands</h1>
<div class="col-xl-4 col-lg-12">
    <div class="card card-chart">
        <div class="card-body">
            <h3 class="card-title">Players</h3>
            
            {{$players := index .DataMap "players"}}
            {{range $players}}
            <li>
            <p class="card-category">
                <span class="text-success">{{.}}</span>
            </p>
            </li>
            {{end}}
        </div>
        <div class="card-footer">
            <div class="stats">
                <p class="card-category">
                    <span class="text-muted">Currently {{index .StringMap "playercount"}} players online</span>
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}