{{template "base" .}}
{{define "content"}}
<h1>Dashboard</h1>
{{$rconStatus := index .DataMap "rconStatus"}}
{{$players := index .DataMap "players"}}

<div class="row mt-12">
    <div class="col-lg-12">
        <div class="card text-bg-dark card-chart">
            <div class="card-header card-header-info">
                <h3 class="card-title text-center"><i class="material-icons">terminal</i> Custom Commands</h3>
                <p class="card-category">Send a custom command to the server. Enter without the "/"</p>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <form id="CustomForm" action="/commands/customform" method="post">
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <label for="customCommand" class="form-label">Enter Custom Command:</label>
                        <div class="input-group">
                            <span class="input-group-text">/</span>
                            <input name="customCommand" id="customCommand" type="text" class="form-control">
                        </div>
                        <div class="input-group mt-3">
                            <button type="submit" class="btn btn-outline-info" onclick="SendCustomCommand('CustomForm')">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
        {{$players := index .DataMap "players"}}
        {{$rconStatus := index .DataMap "rconStatus"}}
        <div class="col-md-12">
            <div class="card text-bg-dark card-chart">
                {{if $players}}<div class="card-header card-header-success">
                {{else}}<div class="card-header card-header-warning">{{end}}
                    <h3 class="card-title text-center"><i class="material-icons">list_alt</i> Online Players</h3>
                    {{if $players}}<p class="card-category"> Currently online players.</p>
                    {{else}}<p class="card-category"> Currently no players online.</p>{{end}}
                </div>
                <div class="card-body">
                    {{if not $players}}
                    {{else}}
                    <div class="table-responsive">
                        <table class="table table-striped table-dark">
                            <tbody>
                                <tr class="text text-center">
                                    <th>Name</th>
                                    <th>Move Player to Spawn</th>
                                    <th>Move Player to Home</th>
                                    <th>Kick Player from Server</th>
                                </tr>
                                {{$token := .CSRFToken}}
                                {{range $players}}
                                <tr>
                                    <td>
                                        <div class="col text-center text">
                                            {{.}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col text-center">
                                            <button id="TPSpawn-{{.}}" type="submit" class="btn btn-outline-info" onclick="SendCommand(id,{{$token}})">TP Player To Spawn</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col text-center">
                                            <button id="TPHome-{{.}}" type="submit" class="btn btn-outline-primary" onclick="SendCommand(id,{{$token}})">TP Player To Home</button>
                                        </div>
                                    </td>
                                    <td class="text-danger">
                                        <div class="col text-center">
                                            <button id="Kick-{{.}}" type="submit" class="btn btn-outline-danger" onclick="SendCommand(id,{{$token}})">Kick Player</button>
                                        </div>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-4 col-lg-12">
                <div class="card text-bg-dark card-chart">
                    <div class="card-header card-header-success">
                        <h3 class="card-title text-center"><i class="material-icons">add_comment</i> Add to Server Whitelist</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <form id="CustomForm" action="/commands/customform" method="post">
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                                <label for="customCommand" class="form-label">Enter a Username or UUID:</label>
                                <div class="input-group">
                                    <span class="input-group-text">/whitelist add </span>
                                    <input name="customCommand" id="customCommand" type="text" class="form-control">
                                </div>
                                <div class="input-group mt-3">
                                    <button type="submit" class="btn btn-outline-success"
                                        onclick="SendCustomCommand('WhitelistForm')">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
<div class="row" justify-content-end >

    <div class="col" >
        <ul class="list-inline">
        {{if eq ($rconStatus) true}}
            <li class="list-inline-item text-success">Rcon: Connected</li>
        {{else}}
            <li class="list-inline-item text-danger">Rcon: Disconnected</li>
        {{end}}    
            <li class="list-inline-item text-muted">Players Online: {{index .StringMap "playercount"}} </li>
        </ul>
    </div>
</div>
{{end}}