{{template "base" .}}
{{define "content"}}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            {{$rconStatus := index .DataMap "rconStatus"}}
            <div class="card-header {{if eq ($rconStatus) true}}card-header-success{{else}}card-header-danger{{end}}">
                <h3 class="card-title text-center"><i class="material-icons">hub</i> Rcon Status</h3>
                <p class="card-category">Current Rcon status {{if eq ($rconStatus) true}}Connected{{else}}Disconnected{{end}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        {{if eq ($rconStatus) true}}<p class="text-success text-center">Rcon is Connected</p>
                        {{else}}<p class="text-danger text-center">Rcon is Disconnected</p>{{end}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit"
                            class="btn {{if eq ($rconStatus) true}}btn-success{{else}}btn-danger{{end}}">Reconnect</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category">
                        <span class="text-muted">Currently the Rcon connection status is: {{index .StringMap
                            "playercount"}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            <div class="card-header card-header-primary">
                <h3 class="card-title text-center"><i class="material-icons">menu_book</i> Past Rcon Commands</h3>
                <p class="card-category">List of past Rcon commands</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">

                    </div>
                </div>
            </div> 
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category">
                        <span class="text-muted">Last command sent at:</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            <div class="card-header card-header-info">
                <h3 class="card-title text-center"><i class="material-icons">list_alt</i>Players</h3>
                <p class="card-category">Currently connected players</p>
            </div>
            <div class="card-body">
                {{$players := index .DataMap "players"}}
                {{range $players}}<li>
                    <p class="card-category">
                        <span class="text-success">{{.}}</span>
                    </p>
                </li>{{end}}
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category">
                        <span class="text-muted">Currently {{index .StringMap "playercount"}} players online</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <h3 class="card-title text-center"><i class="material-icons">bar_chart</i> Past Player Counts</h3>
                <p class="card-category">Players connected in the past day</p>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category">
                        <span class="text-muted">Currently peaked at players online</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}