{{template "base" .}}
{{define "content"}}
<h1>Home</h1>
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            <div class="card-header card-header-info">
                <h3 class="card-title text-center"><i class="material-icons">terminal</i> GoRcon Web App</h3>
                <p class="card-category"> Remotely control a Minecraft server with Rcon</p>
            </div>
            <div class="card-body text-center">
                <p class="mt-3">This Web App enables Remote control over a Minecraft server with the use of Rcon.
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category">Made By Jon Fingas</p>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <h3 class="card-title text-center"><i class="material-icons">terminal</i> Github</h3>
                <p class="card-category"> Source available at github</p>
            </div>
            <div class="card-body text-center">
                <p class="mt-3">The Web Application was write in Go, along side HTML/CSS/JS. 
                </p>
                <p class="mt-3">Available on <a href="https://github.com/Random-7/GoRcon"> Github</a> 
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p class="card-category"> This was a personal project I took on for fun.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}