{{template "base" .}}
{{define "content"}}
<div class="row">
    <h1>Players</h1>
    <div class="col-md-12">
        <div class="card  card-chart">
            <div class="card-header card-header-success">
                <h3 class="card-title text-center"><i class="material-icons">list_alt</i> Online Players</h3>
                <p class="card-category"> Currently online players.</p>
            </div>
            <div class="card-body">
                {{$players := index .DataMap "players"}}
                {{if not $players}}
                <div class="stats">
                    <p> Currently no players online</p>
                </div>
                {{else}}
                <div class="table-responsive">
                    <table class="table table-striped table-dark">
                        <thead>
                            <th class="text-info text-center">
                                Name
                            </th>
                            <th class="text-info text-center">
                                Move Player to Spawn
                            </th>
                            <th class="text-info text-center">
                                Move Player to Dimension 0
                            </th>
                            </th>
                            <th class="text-info text-center">
                                Move Player to Home
                            </th>
                            </th>
                            <th class="text-info text-center">
                                Move Player to Death Point
                            </th>
                            <th class="text-info text-center">
                                Kick Player from Server
                            </th>
                        </thead>
                        <tbody>
                            {{range $players}}
                            <tr>
                                <td>
                                    <div class="col text-center text-success">
                                        {{.}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-info">TP to Spawn</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-success">TPX to Dimension 0</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary">TP to players home</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-warning">TP to players death point</button>
                                    </div>
                                </td>
                                <td class="text-danger">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-danger">Kick</button>
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <p class="card-category">
                            <span class="text-muted">Currently {{index .StringMap "playercount"}} players online</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{{end}}