{{template "base" .}}
{{define "content"}}
<div class="col-xl-4 col-lg-12">
    <div class="card card-chart" >
        <div class="card-header card-header-info">
            <h3 class="card-title text-center"><i class="material-icons">list_alt</i>Players</h3>
            <p class="card-category">Currently connected players</p>
        </div>
        <div class="card-body">
            {{$players := index .DataMap "players"}}
            {{range $players}}
            <li>
            <p class="card-category">
                <span class="text-success">{{.}}</span>
            </p>
            </li>
            {{end}}
        </div>
        <div class="card-footer">
            <div class="stats">
                <p class="card-category">
                    <span class="text-muted">Currently {{index .StringMap "playercount"}} players online</span>
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}